* {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: 'Roboto', sans-serif;    
}
body{    
    
    background: url('../assets/index-bg.jpg') no-repeat top right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1, h4{
    text-align: center;
}
h4{
    font-style: oblique;
}
.etapa{
    margin:30vw 25vw auto;
    width: 50vw;
    height: auto; 
    border: 3px solid black;
    padding: 10px;
    border-radius: 25px;
    background: #FAF9F6;
    box-shadow: 2px 2px 5px black;
    display: block;
}
.etapaModal{
    display: none;
    margin:30vw 25vw auto;
    position: fixed;
    width: 50vw;
    height: auto; 
    border: 3px solid black;
    padding: 10px;
    border-radius: 25px;
    background: #FAF9F6;
    z-index: 9;
}
.form{
    width: 50%;   
    margin: 0 auto;
}
.submit{
    width: 200px;
    background-color: #063970;
    color: white;
    text-align: center;
    padding: 5px 5px 5px 5px;    
}
.submit:hover{
    background-color: #abdbe3;
    cursor: pointer;
}
.MensagemErro{
    color: orangered;
    font-weight: bold;
}