* {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
}
body{
    font-family: 'Roboto', sans-serif;    
    height: 100%;
    background: url('./index-bg.jpg') no-repeat top right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1, h4{
    text-align: center;
}
h4{
    font-style: oblique;
}
.login{
    margin: 50vw auto;
    width: 50vw;
    height: auto; 
    border: 3px solid black;
    padding: 10px;
    border-radius: 25px;
    background: white
}
.formlogin{
    width: 50%;   
    margin: 0 auto;
}
.submit{
    width: 200px;
    background-color: #063970;
    color: white;
    text-align: center;
    padding: 5px 5px 5px 5px;    
}
.submit:hover{
    background-color: #abdbe3;
    cursor: pointer;
}